%title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-shadow: 1px 1px 5px black;
}
%socials {
    position: fixed;
    left: 5px;
    transition: all 0.25s;
}
%history {
    margin-left: 0;
    font-size: 20px;
}
%query1200px {
    @media screen and (max-width: 1200px) {
        width: 100%;
    }
}
body {
   
}
header {
    margin-top: 0;
}
.img-head {
    height: 290px;
    width: 100%;
}
.title {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %title
}
header .navbar {
    background-color:rgba(0, 0, 0, 0.6) !important ;
}
.card {
    border-radius: 10px;
    box-shadow: 0 10px 10px -9px grey
}
.card-img-top {
    border-radius: 10px;
    &:hover {
        opacity: 0.7;
        transition: 0.25s;
    }
}
.foot {
  
    width: 100%;
    border-radius: 100px;
    @extend %query1200px;
}
.equipe {
    height: 36px;
    width: 36px;
}
.resusltats {
    display: flex;
    flex-direction: column;
}
.score {
    display: flex;
    border-bottom: dashed black 1px;
    justify-content: space-between;
    margin-bottom: 30px;
}
article.score > p {
    width: 70px;
}
p > b {
    margin-left: 15px;
}
ul.navbar-nav > li > a:hover {
    background-color: black;
    border-radius: 5px;
} 
.gallerys {
    @extend %title;
    border-top:rgb(218, 212, 212) solid 1px;
    margin-top: 30px;
}
.soccer {
    border-bottom:rgb(218, 212, 212) solid 1px; ;
    padding-bottom: 40px;
}
.btn {
   background-color: white;
   border: solid grey 1px;
   transition: all 0.5s;
   color: black;
   margin: 10px;
}
.btn:hover {
    background-color: rgb(77, 128, 224);
    color: white;
    transition: background-color 0.5s;
    
}
footer {
    
    height: 100px;
    width: 100%;
    background: linear-gradient(45deg, red, yellow);
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
.text-footer {
    font-size: small;
    color: white;
}    
.bi-facebook{
    @extend %socials;
    bottom: 300px;
}
.bi-twitter{
    @extend %socials;
    bottom: 270px;
}
.bi-instagram {
    @extend %socials;
    bottom: 240px;
}
.bi:hover {
    left: 10px;
    transition: 0.25s;
}
.breadcrumb {
    width: 100%;
}

.formulaire {
    display: flex;
    flex-direction: column;

}
.boutons-formulaire {
    display: flex;
    margin: 20px;
    justify-content: center;
}
legend {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.socials1 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    height: 80px;
}
.socials2 {
   height: 50px;
   width: 50px;
   transition: all 0.25s;
   border-radius: 30px;
&:hover {
    opacity: 0.7;
    transition: 0.25s;
    width: 60px;
    height: 60px;
    border-radius: 35px;
}
}
.information {
    background-color: rgb(211, 203, 203);
    height: 100px;
    width: 560px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
}
.info {
    display: flex;
    margin-top: 5px;
}
.histoire {
    font-family: arial serif ;
}
.history {
    padding: 50px;
    text-align: end;
    margin-bottom: 170px;
    @media screen and (max-width: 1000px) {
        margin-bottom: 100px;
        padding: 20px;
    }
    @media screen and (max-width: 775px) {
        margin-bottom: 20px;
        padding: 20px;
        text-align: start;
    }
}
.history1 {
    text-align: start;
    margin-top: 100px;
    padding: 50px;
    @media screen and (max-width: 1000px) {
        margin-top: 20px;
        padding: 20px;
    }
}
.history2 {
    text-align: start;
    padding: 50px;
    @media screen and (max-width: 1000px) {
        margin-top: 20px;
        padding: 20px;
    }
}
.history1 >p > b {
    @extend %history;
}
.history2 >p > b {
    @extend %history;
}
.history >p > b {
    @extend %history;
}
.gallery {
    height: 150px;
    width: 250px;
}
.img-section {
    @extend %query1200px;
}
.maps {
   @extend %query1200px;
}
.information {
    @media screen and (max-width: 750px) {
        width: 350px;
        margin-top: 20px;
    }
}